{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form" method="POST">
    <h2>Screening  Questioner</h2>
    {{ form.hidden_tag() }}
    
    <h4>Have you ever had a period where you felt down? Not just for a week or two but for many weeks or, perhaps, months?</h4>{{ wtf.form_field(form.q1) }}
    <h4>In the past, have you ever had a period where you felt not just good, but better than good?</h4>{{ wtf.form_field(form.q2) }}
    <h4>Would you describe yourself as a chronic worrier? Would others say you are someone who is always worrying about things?</h4>{{ wtf.form_field(form.q3) }}
    <h4> If so, how long has this been going on?</h4>{{ wtf.form_field(form.q4) }}
    <h4> Do you feel there are certain rituals you have to do, such as tap your hand a certain way or do things in sets of threes, which takes up a lot of time in the day</h4>{{ wtf.form_field(form.q5) }}
    <h4>Do you have unusual experiences, such as hearing voices that other people cannot hear? What about seeing things that other people cannot see?</h4>{{ wtf.form_field(form.q6) }}
    <h4>Do you find that you have flashbacks? By that I mean very vivid daydreams or what we may call a "daymare" about the event?</h4>{{ wtf.form_field(form.q7) }}
    <h4>Are you able to go to social situations where you may have to interact with people you don't know well, or is that very daunting for you?</h4>{{ wtf.form_field(form.q8) }}
    <h4>Do your social fears get in the way of your life?</h4>{{ wtf.form_field(form.q9) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>

</div> <!-- /container -->
{% endblock %}